<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-route.js"></script>

    <!-- TODO: use gulp or task runner for injection -->
    <!-- Use local path for dev -->
    <link rel="stylesheet" href="./styles/styles.css" type="text/css">

    <!--<link rel='stylesheet' href='"https://campusmobilesolutions.com/wp-content/themes/x-child-integrity-light-rcd/rcd/styles/styles.css' type='text/css'>-->
</head>
<body ng-app="CMSApp" ng-controller="MainController">

    <div class="test">
        {{test}}
    </div>

    <a href="#/test1">Test 1</a>
    <a href="#/test2">Test 2</a>
    <a href="#/test3/asdf">Test 3</a>

    <div ng-view></div>

    <script type="text/ng-template" id="about.html">
        Content of the template. 1
    </script>

    <script type="text/ng-template" id="contact.html">
        Content of the template. 2
    </script>

    <!-- TODO: use gulp or task runner for injection ->
    <!-- Load the Angular App -->
    <script type="text/javascript"
            src="./scripts/main.js"></script>
    <!--<script type="text/javascript"-->
            <!--src="https://campusmobilesolutions.com/wp-content/themes/x-child-integrity-light-rcd/rcd/scripts/main.js"></script>-->

</body>
</html>